.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9b0fc;
  }
  
  .cart-table th,
  .cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .cart-table th {
    background-color: #f893fa;
  }
  
  .cart-table img {
    width: 100px;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-controls button {
    background-color: #f98fb9;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pay-now-button {
    background-color: #f09bde;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pay-now-button:hover {
    background-color: #f8beea;
  }
  